{% extends 'admin/base_admin.html.twig' %}

{% block title %}Modifier Rencontre - Admin{% endblock %}

{% block body %}
<div class="admin-header">
    <h1>Modifier la Rencontre</h1>
</div>
<div class="admin-content">
    {{ form_start(form) }}
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_row(form.equipe) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.adversaire) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.date) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.lieu) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.heure) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    {{ form_row(form.joueurs) }}
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"></i> Modifier
        </button>
        <a href="{{ path('admin_rencontre_index') }}" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Annuler
        </a>
        {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock %} 